[2021-01-07 20:45] cloehr651 opened #7 "Fixing bug with cancelling scheduled messages/flows"
The "Health Worker Health Snapshot - 19 Oct 2020" flow was scheduled to be sent out on a regular basis but scheduled sending was canceled in the 2nd week of December, however looking at RapidPro reveals that the flow is still being sent out.

_From Ally: Every time emNutt is started, it also starts the scheduler service that loads all scheduled messages/flows. currently, cancelling a schedule does

[2021-01-07 20:48] cloehr651 opened #8 "Add to mHero a report to summarize details about each time a flow is sent"
Add report that summarizes details related to each sending of a message/flow. Each row can include information about each time a particular message/flow is sent - the row should include the date and time, number of people it was sent to and the number of people for which the sending failed, perhaps also response rate and completion rate.

[2021-01-07 20:51] cloehr651 opened #9 "Campaigns in mHero"
Make it possible to run campaigns through mHero. This could look like the addition of a "start date" option for scheduled messages as well as pulling campaigns from RapidPro (in addition to flows).

[2021-01-08 05:09] #7 closed

[2021-01-08 16:49] cloehr651 opened #10 "Updating records with info collected via mHero"
We know that it is simple to do this when there is a closed-ended question but would be challenging with free responses via mHero. Explore this further to figure out how it can be done for important record fields.

[2021-01-08 16:54] cloehr651 opened #11 "WhatsApp as channel for mHero."
Explore adding WhatsApp as a channel for communication via mHero. This will entail working with a BSP (Turn.io and/or Nyaruka) and also rethinking flows to abide by the restrictions on broadcast messaging.

[2021-01-08 17:24] cloehr651 opened #12 "Improve eIDSR module"
Update to work with new mHero and make improvements based on lessons learned from implementing in Liberia

[2021-01-08 17:44] cloehr651 opened #13 "Challenge with sending messages to large groups in mHero"
In the Kenya instance it is possible to send out messages to just a few people but sending to a large group is not working.

[2021-01-08 17:45] cloehr651 commented on #13
This is has been fixed. the page for sending messages is now displaying only those records that has phone numbers and the phone numbers are valid. Also auto resending of failed messages have been added into mHero.

[2021-01-08 17:45] #13 closed

[2021-01-08 17:47] cloehr651 commented on #8
Kenya requests for reports: outbox to view which messages were sent or failed, which contacts received messages or not, and what time messages are sent.

[2021-01-13 16:27] cloehr651 commented on #8
The existing Flow Run Summary report shows which contacts received messages but not the contacts who did not receive messages (but maybe this is addressed in the summary that displays once a flow has been sent, so not in reports section). But the order of the columns is a little confusing for using this report to view who received which flow (it is more suited to look at the text of responses sent

[2021-01-13 16:34] cloehr651 opened #14 "Make it possible to export/download reports in mHero"

[2021-01-13 16:53] cloehr651 opened #15 "Improve Flow Run Summary report in mHero"
The Flow Run Summary report should fulfill the request for a report that lists which contacts received messages although it doesn't seem to show the contacts for which the sending failed (just interrupted). Is there any way to add "failed" to this report?

The order of the columns makes this report a little bit harder to use for the purpose of seeing sent/failed (it seems more suited for looking a

[2021-01-13 16:57] cloehr651 opened #16 "Message exchange report issues"
Not all responses are displaying in this report. For example, if you look in the Liberia instance and search by Willhelmina Dioxin Monbo it appears that there are no responses at all but when you search the name on RapidPro you can see that they have responded to the HWHS flow including in runs that are showing up in this report. And no data after December 3 is showing up. Recent data is showing u

[2021-01-20 11:00] njugunask commented on #15
The new feature implemented by Ally to check on the progress of the workflow during messaging is working. The report is displayed on the screen giving a percentage of the progress while updating the number of successful recipients. However, the report though has a tab of 'failed' messages is not populated. Please consider the following recommendations.

1. Have a report on the failed messages, num

[2021-01-21 06:32] lkwirica opened #17 "The County tab now renamed to Region is displaying subcounties"
Health is devolved across the 47 counties in Kenya, hence   this field should only contain 50 items max for it to be usable.  This field should only pick the counties.

We have   hundreds of sub counties, thus including them here is not helpful

[2021-01-21 06:34] lkwirica opened #18 "More Details/Info Required on these issues"
If we are syncing contacts from Rapidpro, onto mHERO,   does this mean that the contact will have no fields i.e. designation, county   etc?

Also, what happens when we update the phone details on iHRIS for a contact   existing on mHero (who was synced from Rapid pro) especially since the phone   numbers are captured in different formats...Doesn't this mean we will have   duplicate records for the

[2021-01-21 06:36] lkwirica opened #19 "Deleting/Removing records from mHero"
If contacts have been synced from Rapid pro to mHero, do we have a option to bulk remove them from the platform e.g. remove an entire group. This is important, given that groups deleted on Rapidpro are still existing on mHero, test groups on Rapidpro etc

There is also an issue of HCWs who may opt out and thereby need to be removed from the platform

[2021-01-21 06:37] lkwirica opened #20 "Duplication of records"
If a contact exisits in Rapidpro and on iHRIS, two records are created for the same person especially if the phone number format is different. This means that we will have numerous duplicates on mHero. e.g. janet wanjiku karimi,Michael Oluoch Ogalo

[2021-01-21 06:39] lkwirica opened #21 "Reports"
Report required on messages sent, time and recipient for proper audit trail. Reports required should include:

Sent Messages analysis by:
•	County: No. of messages being sent out to each county
•	Cadre: Numbers reached per SMS in each cadre
•	Date: A list of all messages sent and which day the message was sent
•	Running total: Total Number of messages sent out to HWs
•	Failed: The list of HWs to w

[2021-01-21 06:46] lkwirica commented on #7
![image](https://user-images.githubusercontent.com/77771356/105306842-65d7d900-5bcd-11eb-9707-628f117889f4.png)
There is an error on cancelling a schedule

[2021-01-21 06:53] lkwirica commented on #7
![image](https://user-images.githubusercontent.com/77771356/105310762-51481080-5bce-11eb-8244-e4b0821d4d0d.png)
Also, control the scheduling of messages in the past e.g. scheduling messages to be sent at 2:00, at 10:00 am

[2021-01-25 18:40] ashaban commented on #18
@lkwirica
Yes, contacts originally added in rapidpro which then pushed to iHRIS 5 wont have other fields, they will just have phone numbers, names and contact groups.

Yes, contacts originally added from rapidpro and then later on get added into iHRIS 4, they will create 2 different records in iHRIS 5. This is the current setup.

Data is synchronized between systems after every 15 minutes.

[2021-01-25 18:41] ashaban commented on #19
@lkwirica this feature is not yet supported, we can add it on the todo list.

CC @cloehr651

[2021-01-25 18:53] ashaban commented on #7
@lkwirica the error for cancelling schedules has been addressed.

[2021-01-26 19:03] cloehr651 commented on #20
This is the reason we warned against using RapidPro only - since there was no auto-syncing between RapidPro and iHRIS, any changes in one system needed to be made in both systems so now we have cleaning up to do because you used RapidPro only for so long.

@ashaban, are there any scripts that can help either identify duplicates and/or de-duplicate records?

[2021-01-26 19:06] cloehr651 commented on #21
To make the best use of the ticket system we urge you to only list one request per "issue". I will split this up as well as ensure there isn't overlap with the existing issues related to reports.

[2021-01-26 19:09] ashaban commented on #20
i will need to check or write one for Kenya @cloehr651

[2021-01-26 19:44] cloehr651 commented on #19
@lkwirica can you clarify whether you want to remove contacts or groups or both?

If you want to remove contacts (when they opt out or for whatever other reason), I'm guessing you just want them to not show up in mHero but if there is a record in iHRIS that will not be deleted - is that correct? @ashaban, if they don't have a record in iHRIS and were only added to RapidPro/mHero, would there no lo

[2021-01-26 22:05] cloehr651 commented on #21
@lkwirica, To make the best use of the ticket system we urge you to only list one request per "issue". Once I get clarification I will split this up or merge it with the existing issues related to reports.

Are you envisioning a single report for each broadcast message or message flow, or a report that presents all of that information for all broadcast message or message flow? It seems like County

[2021-01-27 05:22] ashaban commented on #17
I have added a fix but it will require reindexing, i will reindex tonight while no one is using the system

[2021-02-03 11:49] lkwirica opened #22 "User Management"
Introduce a feature to handle various creation of users in order to manage access and security of the platform. Consider the following rights:

Overall Administrator/mHero overall admin (Developer)-can create users and user admin, cannot be disabled, cannot be deleted

System Administrator (HRH Kenya Admin/MoH Admin) -Can create and edit,and archive/disable users but cannot create, edit or diable/

[2021-02-03 11:50] lkwirica opened #23 "Roles and Permissions Management"
Introduce a feature to create a role and assign permissions to the role.(Roles can then be assigned to various users e.g.

Ability to start a workflow
Ability to schedule a message
Ability to change password for a user

The permissions are then assigned to a role which in turn is assigned to a user e.g. Roles such as Health Promotion Admin, MoH HR admin etc. can be created and assigned to differen

[2021-02-03 11:51] lkwirica opened #24 "Audit Trail"
Introduce a trail log of all activities associated with specific user log in e. g.
12:30 pm- Lkwirica is logged in
12:30 pm-Lkwirica changed password
12:31 pm- Lkwirica started workflow 13092020 targeting 56000 users
12:32pm- Messages sent successfully to 55989 HCWs, 11 failed

[2021-02-03 19:39] cloehr651 commented on #18
@lkwirica can you confirm whether your questions have been adequately responded to by Ally?

[2021-02-03 19:47] cloehr651 commented on #22
This is a great suggestion. Unless this is super easy to do (maybe since this has been added to iHRISv5 with the implementation in Ethiopia? @ashaban please weigh in) I would recommend making this lower priority so that we can make sure everything is functioning as we want it to before introducing it to new users.

[2021-02-03 19:49] cloehr651 commented on #23
Again, very great suggestion although like the access issue I think this should be lower priority for now.

[2021-02-03 19:50] cloehr651 commented on #24
I am assuming this will be introduced at the same time as the access issue?

[2021-02-03 22:07] cloehr651 commented on #21
@lkwirica, can you take a look at the reports I have drafted in [this document](https://drive.google.com/file/d/14K9HAa_9oq74bzkJcX3mQBrosl3GAxw-/view?usp=sharing). With Kibana it will be easy for each country to choose which filters they want to have available so I have just prepared the standard report without customizations. Please take a look and see if you think this will cover all of your ne

[2021-02-04 05:14] #17 closed

[2021-02-04 11:16] ashaban commented on #23
this will be handled in iHRIS V

[2021-02-04 11:17] ashaban commented on #22
this will be handled in iHRIS V

[2021-02-04 11:38] cloehr651 commented on #17
@lkwirica Can you please review the fix that Ally has made and confirm whether it is working correctly now?

[2021-02-10 13:53] ashaban opened #25 "Add ability to exclude records on sending messages"
Add ability to exclude records on sending messages

[2021-02-10 13:58] ashaban opened #26 "Add ability to upload records"
1. For now include phone number and names only
2. Make sure phone numbers are validated to avoid dupplicates.

[2021-02-10 13:59] ashaban opened #27 "Delete CHV 1 and 2 groups from rapidpro only"
Delete CHV 1 and 2 groups from rapidpro only

[2021-02-15 07:24] ashaban commented on #27
No need to delete after adding ability to exclude records when wending messages.

[2021-02-15 07:24] #27 closed

[2021-02-15 07:24] ashaban commented on #25
Done.

[2021-02-15 07:24] #25 closed

[2021-02-17 14:16] citizenrich opened #28 "Test issue - delete"
tag @lkwirica

[2021-02-17 14:25] #28 closed

[2021-02-23 16:02] cloehr651 commented on #15
This issue is actually many different issues so I will add details to other tickets that already exist for these issues.

[2021-02-23 16:10] cloehr651 commented on #15
@ashaban have you addressed points 1 & 2 already?

Points 3 and the entire second set are different issues that I will merge with other existing issues or create new ones.

[2021-02-23 16:15] cloehr651 commented on #15
The first three points and the last four points in the second set are not related to the "Flow Run Summary" report.

@ashaban is it possible to add other options for filtering (i.e. county and cadre) the "Flow Run Summary" report?

[2021-02-23 16:16] cloehr651 commented on #18
@lkwirica can you please confirm whether your questions have been responded to by Ally?

[2021-02-23 16:22] #20 closed

[2021-02-23 17:34] njugunask commented on #19
Hi Caitlin,

This issue was addressed, script developed and used for deleting/removing
records from mHero:- closed.

Best,

Stanley.

On Tue, Feb 23, 2021 at 7:22 PM Caitlin Loehr <notifications@github.com>
wrote:

[2021-02-23 17:40] cloehr651 commented on #27
@lkwirica and @njugunask, can you confirm whether this issue has been resolved? If so, move it to the "Done" column in the project (this can also be done under the "Projects" section of the bar on the right side - click on "In Review" and you can move it to "Done")

[2021-02-23 17:42] cloehr651 commented on #17
@lkwirica  Can you please review the fix that Ally has made and confirm whether it is working correctly now?

[2021-02-23 17:44] cloehr651 commented on #13
@lkwirica and @njugunask can you confirm whether this has been fixed? If so, please move to the "Done" column of the project.

[2021-02-23 17:47] cloehr651 commented on #19
Thank you, Stanley, for confirming. In the future you can mark it as closed yourself.

[2021-02-23 17:50] #19 closed

[2021-02-23 18:40] njugunask commented on #13
Hi Caitlin,

This will be confirmed tomorrow once approved message(s) are sent via mHero.

Best,

Stanley.

On Tue, Feb 23, 2021 at 8:45 PM Caitlin Loehr <notifications@github.com>
wrote:

[2021-02-23 18:41] njugunask commented on #19
Okay, noted with thanks.

On Tue, Feb 23, 2021 at 8:47 PM Caitlin Loehr <notifications@github.com>
wrote:

[2021-02-24 09:49] #18 closed

[2021-02-24 09:52] lkwirica opened #29 "Ability to receive messages from HCWs on mhero"
mHero  (Rapid-pro) is not displaying incoming messages. The messages are received on the Telcos side but not on mhero.

Two way messaging cannot be achieved as such.

[2021-02-24 09:57] lkwirica commented on #13
@Caitlin Loehr<mailto:cloehr@intrahealth.org> under my account in projects, I don’t seem to have this view.

I can only open, close, assign etc.

Kind regards,

Loise Kwirica | HRIS Officer
HRH Kenya Mechanism
USAID Partner

IntraHealth International<http://www.intrahealth.org/> | Because Health Workers Save Lives.
P.O. Box 66726 - 00800
Ring Road/Lower Kabete Rd, Westlands, Nairobi, Kenya
9 West

[2021-02-24 10:06] lkwirica opened #30 "Info. Required"
What is the difference between Failed and Ignored and the implication of each
![image](https://user-images.githubusercontent.com/77771356/108984599-235c5d00-76a1-11eb-9551-471c567844bf.png)

[2021-02-24 10:27] lkwirica opened #31 "Contacts added in module do not show up in table for selecting recipients"
The Add person feature is not working.

[2021-02-24 10:27] lkwirica opened #32 "Controls Required for various fields"
Introduce DoB controls on the Add Contact field of Add person-( e.g.No future Dates of Birth, Atleast 10 years old ), on the start and end dates etc.

[2021-02-24 10:37] lkwirica opened #33 "Ability to Add non HCWs Contacts on mHero"
We need to include non HCWs on the mHero platform e.g. HRH committee members, Covid 19 committee members, HRH -Kenya Staff etc.
This may be handled the 'Add Person Feature' once it is rolled out

[2021-02-24 10:38] lkwirica opened #34 "Add Person- Make phone number field required"
On the platform, job titles are pulled from iHRIS, we may need to either make the field not required or introduce a category for ‘other’. The category ‘other’ however, cannot exist in iHRIS to avoid errors in reporting.

[2021-02-24 10:39] lkwirica opened #35 "Failed Messages Folder"
Generate a failed list for the HCWs to whom the messages fail to send i.e. Failed Box such as inbox, to make possible to interrogate the cause of failure e.g. rectify the contact, obtain an updated contact etc. The current failed messages are not hitting Rapid pro Failed folder

[2021-02-24 10:40] lkwirica opened #36 "Block Contacts who opt out of receiving messages"
Ability to block a contact who completely opts out of the platform. Exclude could work but it’s not feasible to keep remembering the list of those who’ve opted out each time you need to send a message in order to exclude them. We require a separate feature to handle this.

[2021-02-24 10:40] lkwirica opened #37 "Contact Groups-Not All Groups are displayed"
The contact groups tab is not displaying all groups. Only 7 of 20 groups are displayed. If one attempts to subscribe HCWs to a particular group, the subscription is successful but on filtering with the specific group, nothing is displayed.

[2021-02-24 10:41] lkwirica opened #38 "Delete/Archive Contact Groups"
Option to archive/delete contact groups which are no longer in use, especially those that have never been used to send messages, though even if the group was used to send messages, the individual contact is of more importance than the group.

[2021-02-24 11:24] ashaban commented on #31
This is fixed @lkwirica can you have a look now!

[2021-02-24 12:22] ashaban commented on #30
- If two records shares same phone number, a message will be sent to one record and the other one will be ignored and placed to the ignored tab
- if a message fails to be sent it will be placed to the failed tab.

[2021-02-24 12:23] ashaban commented on #33
Add person feature is already working, please have a look

[2021-02-24 12:28] lkwirica commented on #31
Hi, I've just tried it, the record has been saved. How long before the contact is updated in the database? Is it 15 min?

[2021-02-24 12:30] lkwirica commented on #33
I've added a new contact and it was saved, I believe after 15 min or so, it will be available for sending messages

[2021-02-24 12:44] cloehr651 commented on #35
Please see the [reports mock up](https://drive.google.com/file/d/14K9HAa_9oq74bzkJcX3mQBrosl3GAxw-/view?usp=sharing) that I requested you review. Does the Outbox and Sent tab fulfill your needs?

[2021-02-24 12:45] ashaban commented on #34
I have made job titles not required

[2021-02-24 12:53] ashaban commented on #37
where do you see those 20 groups? i only see 9 groups in rapidpro. i also see new group created in mhero with name 'jnjnjnj' and i can see 2 records subscribed on it

[2021-02-24 18:12] cloehr651 commented on #34
@lkwirica , is this issue addressed now?

[2021-02-24 18:15] cloehr651 commented on #31
@ashaban and @lkwirica , is this fixed now?

[2021-02-24 18:19] cloehr651 commented on #30
@lkwirica @njugunask is this clear to you now?

[2021-02-24 18:22] cloehr651 commented on #26
@ashaban is this the same as adding new contacts to mHero?

[2021-02-25 04:19] njugunask commented on #31
It now works. I have been able to add myself, searching for the added contact is available when sending messages however in the **search people** it doesn't appear

[2021-02-25 14:25] cloehr651 commented on #31
Thanks Stanley for the update. @ashaban can you check on why the new contact is not showing up in the search people table?

[2021-02-26 09:30] njugunask opened #39 "Fluctuating numbers for contacts"
The numbers for contacts are varying, there is an addition of 2,821 contacts to what the system had, 58,523. Kindly check why this the case.

[2021-02-26 13:59] cloehr651 commented on #39
Can you please provide more details? Which number are you looking at (what page)? When are you noticing that it's different? What do you believe the number of contacts should be?

[2021-02-26 16:27] njugunask commented on #39
Hi Caitlin, when sending messages in mHERO from the 'send message' tab it gives the total contacts that the selected flow should go to herein 58, 523 that we have been working with. However, that number as today is 61,344. See attached screenshot.
<img width="941" alt="contact-list in mHERO" src="https://user-images.githubusercontent.com/77440202/109326779-a54ab280-7868-11eb-8e11-91d296558c33.png"

[2021-02-26 17:17] ashaban commented on #39
@njugunask the database has a total of 121,724 records, not all of these records are displayed on the send message page because some of them have wrong phone numbers. However, if any of the records with invalid phone number get cleaned from iHRIS v4, they will automatically show up on the page for sending messages, and the total records on the send message page will automatically increase. So you

[2021-03-01 19:47] cloehr651 commented on #8
Mathew's feedback: Regarding the pop up summary, it reportedly disappears upon completion of sending and the results are not saved anywhere else in the system.

[2021-03-01 19:55] cloehr651 opened #40 "Discrepancy in total message counts in summary pop-up, AfricasTalking, and RapidPro"
Feedback from Mathew: as analysed from the messages sent last week, the stats shown are incorrect as they differ with the actual messages sent on AFricastalking as well as the Rapidpro Failed Box(It was empty). This is one of the issues recorded on the tracker.

[2021-03-01 19:57] cloehr651 commented on #29
Mathew's feedback: The messages are not being received on the platform(s). Neither Rapidpro nor mHero, a quick test reveals that the messages are received on Africastalking but not on mHero/Rapidpro

[2021-03-02 01:07] lkwirica opened #42 "Several messages sent to individual contacts"
Message sent out on March 1st 2021, more than 2 messages were sent to most contacts on the platform, and some did not receive the message.

Attached is an excel download of 10,000 messages sent out, showing duplicates  to nearly all contacts.

A total of 65,700 messages were sent out, and this message was sent excluding the CHV contact groups. We only have 21k contacts  with phone number in iHRIS,

[2021-03-02 01:18] lkwirica commented on #39
@ashaban I think that the total number of records is still an issue as we have not had any changes in any contacts being added or removed on Rapidpro/mHero, but the numbers keep fluctuating, from 21k, 58k and now 61k.

As per the March 1st message sent out , I believe all rows got sent the message, as evidenced by the duplicates

[2021-03-02 01:20] lkwirica commented on #37
All groups are now visible after the syncing of contacts. This issue is resolved.

[2021-03-02 01:20] #37 closed

[2021-03-02 01:23] lkwirica commented on #35
@cloehr651 I will review the mock up reports. However, this issue seems to relate to issue #40

[2021-03-02 01:24] lkwirica commented on #34
@cloehr651 The requirement of all fields has been removed. The phone number field should be required to avoid saving with no phone number added.

[2021-03-02 01:31] lkwirica commented on #30
@cloehr651 , this is clear

[2021-03-02 01:31] #30 closed

[2021-03-02 01:38] lkwirica opened #43 "Mandatory fields for adding and editing new person"
If one adds an contact, and erroneously forgets to indicate the mobile contact, on editing, the platform requires one to add a residence.

The  only mandatory fields should be:

- First Name
- Surname
- Mobile contact

[2021-03-02 01:40] lkwirica opened #44 "Contacts without Names"
![image](https://user-images.githubusercontent.com/77771356/109583648-4360a600-7b11-11eb-9510-15fb97925447.png)
We have some contacts in the database without names e.g attached.

[2021-03-02 01:43] lkwirica opened #45 "Contacts sharing a phone number-stored together"
![image](https://user-images.githubusercontent.com/77771356/109583878-a81c0080-7b11-11eb-8f73-4bd1797385a7.png)
We have instances of 2 contacts sharing one phone number  and stored as one contact

[2021-03-02 01:44] lkwirica commented on #44
![Uploading image.png…]()

[2021-03-02 02:39] lkwirica commented on #21
@cloehr651 please see my feedback on the mock up shared.

For Purposes of simplicity, it’s best to separate the Inbox/Outbox/ Sent/ Failed folders from the Reports Centre. i.e. maintain the folders with a list of messages sent/received, and have a separate feature for reports.

**Responses or Inbox**
On the inbox messages, is the received message column necessary? If the contact did not receive th

[2021-03-02 11:21] cloehr651 commented on #21
Thank you very much, @lkwirica, for your detailed feedback!

We will discuss separating the inbox/outbox/sent/failed from the reports section. Exporting data is something I have already requested so Ally is aware of this. I also suggested adding the option to filter, per your feedback shared at the end of last year.

Regarding the inbox, thank you for pointing out that the "received" column doesn'

[2021-03-02 12:52] cloehr651 commented on #43
For the purposes of contact management, you may want to include either job title or cadre (even if the contacts are not HWs). You can certainly use contact groups that may indicate the cadre or other characteristic of the contact but having job title or cadre will prevent mHero users from having to guess as to who a contact is when they see just a name and phone number in the table of contacts, or

[2021-03-02 15:55] cloehr651 commented on #34
For the purposes of contact management, you may want to include either job title or cadre (even if the contacts are not HWs). You can certainly use contact groups that may indicate the cadre or other characteristic of the contact but having job title or cadre will prevent mHero users from having to guess as to who a contact is when they see just a name and phone number in the table of contacts, or

[2021-03-03 12:06] ashaban commented on #29
This is fixed, @lkwirica please confirm if its working and close this ticket

[2021-03-03 15:50] lkwirica commented on #29
![image](https://user-images.githubusercontent.com/77771356/109832183-2cc16880-7c51-11eb-96d9-68492f3985bc.png)
I've sent this message- it's received in Africastalking but not on Rapidpro.
Please troubleshoot

[2021-03-03 19:11] njugunask opened #46 "Archiving old sent messages in RapidPro"
Hi Ally,
As discussed. Is it possible to archive old messages that have already been sent so as to have the most current sent messages in that folder.

[2021-03-04 05:36] lkwirica commented on #39
@njugunask this issue is pending

[2021-03-04 05:38] lkwirica opened #47 "Phone numbers Duplicated"
@ashaban I think that the total number of records is still an issue as we have not had any changes in any contacts being added or removed on Rapidpro/mHero, but the numbers keep fluctuating, from 21k, 58k and now 61k.

As per the March 1st message sent out , I believe all rows got sent the message, as evidenced by the duplicates.

This is the same as issue #39

[2021-03-04 06:06] ashaban commented on #43
@lkwirica this has been addressed, please confirm if its fixed.

[2021-03-04 09:17] ashaban commented on #45
@lkwirica this record was originally added in rapidpro and then syncronized to iHRIS 5. The names were not merged in iHRIS, that is how it was added in iHRIS from rapiodpro. Here is a link to the reocrd in rapidpro http://ihris.or.ke:8000/contact/read/9497a497-c077-4320-95df-6256d4fc9b6e/
Just rename the name properly. Im closing this issue.

[2021-03-04 09:17] #45 closed

[2021-03-04 10:17] ashaban commented on #44
@lkwirica i have scnned mhero and found some records without names, i tried to followup with one record that has a phone number 0721746296, this record is in iHRIS 4 and it has no names at all. to see this record please follow this link http://ihris.or.ke/moh/index.php/view?id=person%7C1129328
You clean this records, mHero will also be cleaned automatically.

Something to note, most of the issues

[2021-03-04 10:20] ashaban commented on #34
@lkwirica Phone number is now a required field

[2021-03-04 10:40] ashaban commented on #29
This is working @lkwirica

[2021-03-04 12:08] #42 closed

[2021-03-04 12:08] #47 closed

[2021-03-04 13:45] cloehr651 commented on #45
@lkwirica can you confirm that this can be fully closed?

[2021-03-04 14:06] njugunask commented on #39
Hi Loise,

Good evening. Will reopen it asap!

Best,

Stanley.

On Thu, Mar 4, 2021 at 8:37 AM lkwirica <notifications@github.com> wrote:

[2021-03-04 15:10] cloehr651 commented on #44
@lkwirica can we close this or do you want to wait until you have finished cleaning the records?

[2021-03-04 15:12] cloehr651 commented on #34
@lkwirica can we fully close this?

[2021-03-04 15:16] cloehr651 commented on #29
@lkwirica do you need more info on this issue or can we close it?

[2021-03-10 11:20] lkwirica commented on #34
We cannot fully close this issue- The Residence is still a required field.

[2021-03-10 11:50] lkwirica commented on #31
I've checked. .this is still outstanding

[2021-03-10 11:55] lkwirica opened #48 "Total Contacts on mHero"
How many contacts do we have on mHero.

We need a feature displaying total number of contacts. As it is, it's difficult to establish the total number, hence it's hard to troubleshoot some issues e.g.

We're sending 32k messages, excluding CHVs but we only have 21k contacts. What is the cause of the discrepancy? We can only troubleshoot this if we can ascertain the number of individual contacts on

[2021-03-10 11:59] lkwirica commented on #48
Since we cannot export the total sent list from Africastalking/Rapidpro, we need this on mHero

[2021-03-10 12:01] lkwirica commented on #43
Same as issue #31 #34

[2021-03-10 12:02] lkwirica commented on #29
This issue was resolved

[2021-03-10 12:02] #29 closed

[2021-03-10 12:04] lkwirica commented on #32
This is done

[2021-03-10 12:04] #32 closed

[2021-03-10 12:44] lkwirica commented on #21
@ashaban the Message sending summary is a great report. Very precise and brief.

I suggest the  message sending breakdown build on the Message sending summary i.e. Once I click on the Sent Number, I am able see /download in .csv, a list of the sent, and once I click on the failed, I'm able to do the same.

Also, for each of the reports, ability to export is very key.

The same goes for Flow Run Su

[2021-03-15 19:56] cloehr651 commented on #43
@lkwirica can you confirm if this has been fixed?

[2021-03-15 20:01] cloehr651 commented on #35
@ashaban it seems like this could be displayed in the Flow Run breakdown and Message Sending Breakdown reports - in the status filter but "failed" doesn't show up as an option. Is that where you were planning to add this or as a separate report?

[2021-03-15 20:03] cloehr651 commented on #34
The phone number field issue has been resolved so this will be closed. I will leave the other Add Person issue active.

[2021-03-15 20:03] #34 closed

[2021-03-15 20:04] cloehr651 commented on #39
@lkwirica and @njugunask can you clarify what the current issue is?

[2021-03-15 20:05] cloehr651 commented on #31
@lkwirica can you clarify - when you add a contact the name doesn't show up in the search table or is the issue different now?

[2021-03-15 20:08] cloehr651 commented on #26
@ashaban this issue seems to overlap with a few others ( #43 , #31 ). Can we close it and keep the others?

[2021-03-15 20:11] cloehr651 commented on #21
@lkwirica can you review the new reports Ally added (Flow Run Breakdown and Message Sending Breakdown) and confirm whether these reports address all of the requests in this issue? If there are other requests/issues remaining I suggest creating new "issues" for each so that it is easier to understand the request and track the status.

[2021-03-15 20:29] cloehr651 opened #49 "Mismatching report names"
In the reports section the name is: Workflows Overview; once you click on the report the name is: mHero Flow Summary (I suggest using Flows Overview or Flows Summary)
In the reports section the name is: Flow Run Breakdown; once you click on the report the name is: Flow Run by Practitioner (I suggest keeping Flow Run Breakdown)
In the reports section the name is: Message Sending Breakdown; once you

[2021-03-24 06:56] lkwirica opened #50 "Messages not being sent out on mHero"
The platform seems to be having an issue. Yesterday and today, two attempts have been made to send out messages.

The process seems to be stuck here:

![image](https://user-images.githubusercontent.com/77771356/112267863-24c07b80-8c87-11eb-94d3-d671a130eee7.png)

After an hr. or so, the process fails.

[2021-03-24 07:01] lkwirica opened #51 "Discrepancies on the no. of messages sent out in the reports"
Here's the stats as per the message sending summary:
![image](https://user-images.githubusercontent.com/77771356/112268195-a57f7780-8c87-11eb-9a09-b182d28af478.png)

![image](https://user-images.githubusercontent.com/77771356/112268303-cea00800-8c87-11eb-8be7-6ba5a582a9fb.png)
Here are the actual stats as per Africastalking

[2021-03-24 07:44] lkwirica opened #52 "Some contacts not receiving the message(s)"
For the messages sent out on March 11th, 16th and 19th, Loise Kwirica did not receive the message(s).

Workflow tests did not receive the messages on 16th and 19th as well.

Both contacts have been receiving messages consistently previously, as such it seems a number of contacts may not be receiving messages as well.

[2021-03-30 17:03] cloehr651 commented on #51
@lkwirica are you asking about why there is a difference between the number sent in the mHero report vs the number sent in the Africa's Talking report? Or differences in the number sent from day to day?

If the former, I believe this is because the mHero report shows messages sent from mHero to Africa's Talking but a message can fail to be sent out from Africa's Talking out to the recipients so th

[2021-03-30 17:13] cloehr651 opened #53 "Not able to select contacts across pages"
If you want to select contacts on more than one page of the table, going to the next page will unselect all contacts selected on the previous page of results.

[2021-04-21 08:08] lkwirica commented on #48
Message sent on mHero on 17th April -32,726 messages were sent excluding the CHV groups
As per the current staff on 21st April 2021, only 23, 225 HCWs have phone numbers.
Why do we have a 9501 discrepancy?

[2021-04-21 08:10] lkwirica commented on #52
The two contacts are back to receiving messages. What was the issue and how can we troubleshoot/resolve the same if it comes up going forward?

[2021-04-27 18:36] #14 closed

[2021-05-06 18:38] cloehr651 commented on #21
@lkwirica can you please review the reports and confirm whether these reports address all of the requests in this issue?

[2021-05-06 18:46] cloehr651 commented on #31
@lkwirica can you please check this whether this issue has been resolved now? If so, you can close it.

[2021-05-06 19:14] cloehr651 opened #56 "Unable to add and edit certain fields in records created within the module"
When adding a new contact it is possible to specify their position but nothing about their facility, county, and cadre. However if you try to add a person with the blue "Add iHRIS Practitioner" button the position fields are not there. Then when editing a person that was added via the module, it is not possible to edit the position information.

[2021-05-06 19:21] cloehr651 opened #57 "Bug in records displaying in Search People table"
It looks like only 21 records have been added when you first view the Search People table but if you click to go to the 2nd page of records it then shows that there are 122,013 records in the table and when you get to the third page of results it looks like there are lots of duplicates. If you change the number of rows when on the first page this issue does not appear - it only displays 21 rows.
!

[2021-05-06 19:23] cloehr651 commented on #46
This is an issue that is addressed in RapidPro, not mHero.

[2021-05-06 19:23] #46 closed

[2021-05-06 19:28] cloehr651 commented on #33
@lkwirica and @ashaban do we need to create other "positions" for the contacts that are not health workers or we can just not fill in the position field and instead identify them in a group?

[2021-05-06 19:35] cloehr651 commented on #56
Related to #43

[2021-05-06 19:36] cloehr651 commented on #43
Linked to issue #56

[2021-06-08 02:51] #52 closed

[2021-06-09 08:31] lkwirica opened #58 "Scheduling Messages feature is not working"
![image](https://user-images.githubusercontent.com/77771356/121320048-7aff9b00-c915-11eb-971e-09b942644fc1.png)
On attempting to schedule a message, the page hangs while displaying' sending request'

[2021-06-09 08:33] lkwirica commented on #50
This is now working

[2021-06-09 08:33] #50 closed

[2021-06-09 11:55] cloehr651 commented on #58
Can you please clarify whether this has happened multiple times or just once? If you tried it multiple times was there any difference in the request (number of recipients, flow vs message, etc.)?

[2021-06-09 12:20] lkwirica commented on #58
Multiple attempts, no success. Same no. of recipients as usual.

This was working previously.

[2021-06-11 15:04] njugunask commented on #58
Hi Kwirica, this feature is working okay see below.
<img width="932" alt="Scheduled mgs1" src="https://user-images.githubusercontent.com/77440202/121707633-6d960c80-cadf-11eb-85b8-ec0dc2dedeaf.png">
<img width="940" alt="Scheduled mgs2" src="https://user-images.githubusercontent.com/77440202/121707638-6ec73980-cadf-11eb-8dea-a726886dfb0c.png">
<img width="937" alt="Scheduled mgs3" src="https://use

[2021-06-11 17:46] njugunask commented on #33
Grouping contacts to particular groups is possible. This can be done through the 'Contact Group' Tab where a contact can be selected and assigned a group of choice. @lkwirica, was your requirement to add this feature be available so as to add a new contact assign it from a drop-down list of the groups available? Otherwise, if not this issue needs to be closed.

[2021-06-14 19:27] lkwirica commented on #58
This feature is still not working... Scheduled a message for 3:22 PM on 14th June...
A yellow message box popped up 'This process is taking some time...server is sending messages...
No message was sent out, at the scheduled time.

[2021-06-14 19:27] lkwirica commented on #58
![image](https://user-images.githubusercontent.com/77771356/121948281-b78d2580-cd5f-11eb-9814-a00f7038d8d2.png)
This feature is still not working... Scheduled a message for 3:22 PM on 14th June...
A yellow message box popped up 'This process is taking some time...server is sending messages...
No message was sent out, at the scheduled time.

[2021-06-14 19:39] lkwirica commented on #33
issue 33 is '**Ability to Add non HCWs Contacts on mHero "** We need to include non HCWs on the mHero platform e.g. HRH committee members, Covid 19 committee members, HRH -Kenya Staff etc.

For example, I've tried to add a new contact to the platform under the 'Add Person' feature. The 'Save' button is not active. Once the details about the person are keyed in, it cannot be saved.

[2021-06-14 20:11] lkwirica commented on #21
The reports on mHero address Messages sent out. The various folders/ reports for received messages is pending.

[2021-06-14 20:15] lkwirica commented on #31
This issue is related to no. #33

[2021-06-16 06:07] njugunask commented on #33
@Ally, it is not possible to save a new contact as raised above

[2021-06-16 06:15] njugunask commented on #21
Sent messages Analysis report – **Done**

**Below still pending**

Feedback analysis – Two items to be implemented (display: Response by Gender, Total responses by date/week/month/day of the week)

[2021-06-16 07:18] ashaban commented on #33
When was the last time you tried it?

On Wed, 16 Jun 2021, 09:07 Stanley, ***@***.***> wrote:

[2021-06-16 07:24] njugunask commented on #33
Hi Ally,

This morning, before you run the updates.

On Wed, Jun 16, 2021 at 10:18 AM Ally Shaban ***@***.***>
wrote:

[2021-06-16 08:15] njugunask commented on #8
This information is available in the '**Flow Run Summary**' (Date Sent/Time Sent/Total Sent/Total Failed/Total Responded/Total Completed/Total Interrupted/Total Expired). Unless otherwise, the task needs to be closed.

[2021-06-16 08:15] ashaban commented on #53
This is fixed, please review and close this issue

[2021-06-16 08:17] ashaban commented on #48
@lkwirica this is fixed, Use the search people report to see total contacts in mHero.

[2021-06-16 08:21] ashaban commented on #44
@lkwirica please close this issue

[2021-06-16 08:24] njugunask commented on #15
Need to add a report for '**failed**' contacts

[2021-06-16 08:29] ashaban commented on #9
@cloehr651 We dont need to pull campaigns in mHero since mHero is already doing what campaigns can do.

[2021-06-16 08:29] njugunask commented on #44
Data cleaning of contacts in iHRIS will help resolve this issue. Issue needs to be closed

[2021-06-16 09:00] njugunask commented on #45
Telephone contact in iHRIS and RapidPro for this record is different, needs to be updated accordingly. Issue can be closed.

[2021-06-16 09:03] njugunask commented on #20
Serious data cleaning needs to be done, numerous duplicates / some records share the same phone numbers

[2021-06-16 09:18] lkwirica commented on #20
Hi Stanley,

Please note some of the issues on the tracker were closed a while back. We’re only reviewing the open issues:

***@***.***D762A9.9B5A2410]

Kind regards,

Loise Kwirica | HRIS Officer
HRH Kenya Mechanism
USAID Partner

IntraHealth International<http://www.intrahealth.org/> | Because Health Workers Save Lives.
P.O. Box 66726 - 00800
Ring Road/Lower Kabete Rd, Westlands, Nairobi, Kenya

[2021-06-16 09:19] lkwirica commented on #45
This issue was closed in March.

***@***.***D762A9.D6FBCBE0]

From: Stanley ***@***.***>
Sent: Wednesday, 16 June 2021 12:01
To: intrahealth/emNutt ***@***.***>
Cc: Loise Kwirica ***@***.***>; Mention ***@***.***>
Subject: Re: [intrahealth/emNutt] Contacts sharing a phone number-stored together (#45)

[This email originated from outside IntraHealth. Use caution when clicking on links or attachment

[2021-06-16 09:20] njugunask commented on #43
Mandatory fields have been captured. The issue needs to be closed.

[2021-06-16 09:23] njugunask commented on #33
This issue has been sorted out. able to add a contact and save it. Close issue.

[2021-06-16 09:26] njugunask commented on #17
Regions need to be dropped so as to remain with the Counties only. (Eastern, Central, Nyanza, Coast, Western, RiftValley)

[2021-06-16 09:30] njugunask commented on #18
@lkwirica, move this item to the 'Done' folder

[2021-06-16 09:33] #39 closed

[2021-06-16 09:35] lkwirica commented on #18
Dear Stanley,

These issues were closed in February. Please review only OPEN issues.

***@***.***D762AC.1D4BE8D0]

Kind regards,

Loise Kwirica | HRIS Officer
HRH Kenya Mechanism
USAID Partner

IntraHealth International<http://www.intrahealth.org/> | Because Health Workers Save Lives.
P.O. Box 66726 - 00800
Ring Road/Lower Kabete Rd, Westlands, Nairobi, Kenya
9 West Building, 4th Floor,
t. +254 (0

[2021-06-16 09:36] lkwirica commented on #17
Dear Stanley,

These issues were closed in February. Please review only OPEN issues.

***@***.***D762AC.2CD2FA00]

Kind regards,

Loise Kwirica | HRIS Officer
HRH Kenya Mechanism
USAID Partner

IntraHealth International<http://www.intrahealth.org/> | Because Health Workers Save Lives.
P.O. Box 66726 - 00800
Ring Road/Lower Kabete Rd, Westlands, Nairobi, Kenya
9 West Building, 4th Floor,
t. +254 (0

[2021-06-16 09:56] njugunask commented on #35
@Ally, does ‘**completed**’ and ‘**entered in error**’ mean ‘**sent**’ and ‘**failed**’ respectively in the message sending breakdown?

[2021-06-16 10:12] lkwirica commented on #17
Dear Loise,

Thanks, this is noted. The issues should then be moved to the '*Done*'
folder to avoid confusion.

Best,

Stanley.

On Wed, Jun 16, 2021 at 12:36 PM Loise Kwirica ***@***.***>
wrote:

[2021-06-16 10:13] ashaban commented on #35
yes.

On Wed, Jun 16, 2021 at 12:56 PM Stanley ***@***.***> wrote:

[2021-06-16 10:23] lkwirica commented on #51
Closing this issue to track related messaging/contacts issues under issue #40

[2021-06-16 10:24] #51 closed

[2021-06-16 10:30] lkwirica commented on #33
Contacts added on this feature are NOT available for sending messages. This is pending

[2021-06-16 10:32] lkwirica commented on #40
Closing this issue to track all discrepancies issues in issue #48

[2021-06-16 10:33] lkwirica commented on #40
This can be closed, and we can track discrepancy matters in issue #48

[2021-06-16 10:45] njugunask commented on #35
Thanks, Ally.
This issue needs to be closed.

[2021-06-16 11:40] #35 closed

[2021-06-16 11:40] #40 closed

[2021-06-16 11:43] #43 closed

[2021-06-16 11:45] #44 closed

[2021-06-16 11:46] #53 closed

[2021-06-16 11:55] cloehr651 commented on #9
@ashaban the schedule messages functionality of mHero does not enable the user to do the same thing as campaigns. With Campaigns you can set up a schedule for a series of messages, not just one message/flow. With what we have now you could schedule a flow but all the messages in the flow would be sent out sequentially (which may happen over the course of a longer period of time, based on when the

[2021-06-16 13:00] ashaban commented on #8
@cloehr651 what is pending on this issue?

[2021-06-16 15:30] ashaban commented on #33
@lkwirica now you should be able to see them into the sending messages page. Please test

[2021-06-16 15:49] ashaban commented on #58
This issue is fixed @lkwirica

[2021-06-16 15:51] ashaban commented on #22
this has been fixed @lkwirica

[2021-06-16 15:59] ashaban commented on #56
@lkwirica please review this and close

[2021-06-16 16:00] ashaban commented on #48
@lkwirica please review this

[2021-06-16 16:01] ashaban commented on #31
@lkwirica please review this together with #33

[2021-06-16 16:26] cloehr651 commented on #8
This was an issue raised by @lkwirica, Billy and Mathew, so if they think it's taken care of we can close it.

[2021-06-16 17:13] cloehr651 commented on #9
@ashaban the schedule messages functionality of mHero does not enable the user to do the same thing as campaigns. With Campaigns you can set up a schedule for a series of messages, not just one message/flow. With what we have now you could schedule a flow but all the messages in the flow would be sent out sequentially (which may happen over the course of a longer period of time, based on when the

[2021-06-17 08:50] njugunask commented on #22
It is not possible to add a user gives below error
<img width="942" alt="User roles-errors" src="https://user-images.githubusercontent.com/77440202/122363222-75333680-cf61-11eb-8ccc-3957060c0446.png">

Is it possible to define or list the roles that can be assigned as per the request for specific users? For example, if it's the User -  Overall Admin, one can then choose from the list the roles for

[2021-06-17 08:56] njugunask commented on #8
@lkwirica, this information is available in the '**Flow run Summary**' confirm if there is any additional information required

[2021-06-17 09:11] njugunask commented on #31
@Ally, a record added in mHero platform cannot be viewed in the '**search people**' tab.

[2021-06-17 09:12] ashaban commented on #31
What is the name you added?

[2021-06-17 09:16] njugunask commented on #31
'kungu njuguna' added that either yesterday or the day before

[2021-06-17 09:17] ashaban commented on #31
I fixed this issue yesterday, if you are to test it then you need to add a new record.

[2021-06-17 09:19] njugunask commented on #58
@lkwirica, are you able to schedule messages for sending out and verify if you are encountering the same problem?

[2021-06-17 09:20] ashaban commented on #31
Kungu Njuguna is there as well, i am not sure how are you searching
![Kungu](https://user-images.githubusercontent.com/3152817/122368883-6438f400-cf66-11eb-9ef3-0b41dc58fbde.png)

[2021-06-17 09:57] njugunask commented on #21
****Feedback analysis by**:-**
- Cadre & County > this is available

**Pending:**
- analysis by Gender
- Total Responses by:- Date, Week, Month & Day of the week

A suggestion, to enable seeing reports or messages sent in a particular, **Day** or **Month**, unmerge the column **Date** & **Time** so that they are reported separately, then it is possible to filter out messages sent out in a particul

[2021-06-17 10:17] njugunask commented on #31
If you run a search by two names, there is no available data. That needs to be fixed because of similar 'surnames'

[2021-06-17 10:33] njugunask commented on #33
"@lkwirica and @ashaban do we need to create other "positions" for the contacts that are not health workers or we can just not fill in the position field and instead identify them in a group?"

The above suggestion by Caitlin of creating a group or groups for specific categories as raised by @lkwirica **(**Ability to Add non HCWs Contacts on mHero**)** hence assigning records to the specific categ

[2021-06-17 10:37] ashaban commented on #31
open a new issue please, that is a different issue and should not be tracked on this issue.

[2021-06-17 10:57] njugunask commented on #48
Suggestion @ashaban & @lkwirica

Is it possible to have a list from the search tabs of All HCWs merged together, All CHVs, and so on. So that when one chooses to send a message to a particular group of people then it is even easier to check on the discrepancies and also help in filtering/cleaning or removing unnecessary clutter in the database.

[2021-06-17 11:20] njugunask commented on #31
I thought it is related because it the search function issue but will open a new one altogether.

[2021-06-17 11:31] njugunask commented on #57
This issue has been resolved. Displaying a consistent number, i.e. 122,878
Close issue.

[2021-06-17 12:22] nobertmn commented on #22
@ashaban I have posted a fix for this in the main iHRIS. Review and let me know if more needs to be done.

[2021-06-17 12:34] cloehr651 commented on #21
@njugunask there are several new issues here. For the sake of clarity and tracking, please create new separate issues for each request.

[2021-06-17 12:36] #57 closed

[2021-06-17 15:44] cloehr651 opened #59 "Clarify "Sent" and "Failed" in Breakdown reports"
Change "Completed" to "Sent" and "Entered-in-error" to "Failed" in the Send Status options in the Message Sending Breakdown and Flow Breakdown reports.

[2021-06-18 05:56] njugunask commented on #21
@cloehr651, the tasks are one and the same thing raised by @lkwirica. Some of them have already been fixed so following up with the ones remaining

[2021-06-18 06:16] njugunask opened #60 "No data available when searching records using two names in module"
When searching for an added record using the recipient's two names, there is no data. This is both in the '**Search People**' and '**Employee List**' tabs.

[2021-06-18 06:41] njugunask opened #61 "Bug in Search People table"
The search people table only displays records on
<img width="948" alt="Search People Pg1" src="https://user-images.githubusercontent.com/77440202/122517923-45476a00-d019-11eb-8eb3-e55930712582.png">
<img width="956" alt="Search People Pg2" src="https://user-images.githubusercontent.com/77440202/122517930-47112d80-d019-11eb-9aa8-14d0f71e9d65.png">
<img width="955" alt="Search People Pg3" src="https

[2021-06-18 07:31] njugunask commented on #56
It is still not possible to specify/add a new contact **County** and **Cadre** in the module. It is also not possible to edit the position field

[2021-06-18 07:38] ashaban commented on #56
@njugunask A contact is assigned a Position (this is possible), a position has a facility and cadre on it. A facility is also attached to a specific county. So what you need is just to assign a position to a contact and that will automatically assign cadre, county etc. It is possible to edit a position, just go to the search position and click a respective position, then click edit and start editi

[2021-06-18 07:46] njugunask commented on #22
There is still an error when trying to save
<img width="949" alt="User Mgt Test error" src="https://user-images.githubusercontent.com/77440202/122525972-78422b80-d022-11eb-9903-e1d5f76809fb.png">

[2021-06-18 08:39] njugunask commented on #56
Sure, I have reviewed the Position tab as advised and caters also for county and cadre. However, one issue which seems to affect searching records with both names not possible. As you fix #60, implement the same here.

[2021-06-18 08:49] njugunask commented on #33
@lkwirica raised > "Contacts added on this feature are NOT available for sending messages. This is pending"

Searched a record I added yesterday and another one last week and contacts are not available.

[2021-06-18 08:54] ashaban commented on #56
@njugunask lets track the issue for searching two names on #60. If you can add new record and edit them please close this issue.

[2021-06-18 09:19] njugunask commented on #31
This issue has been fixed. Close and move to the done folder.

[2021-06-18 09:21] njugunask commented on #56
@cloehr651 close this issue

[2021-06-21 03:49] lkwirica commented on #22
![image](https://user-images.githubusercontent.com/77771356/122704653-c6db0a00-d25c-11eb-824c-8b1ef666633c.png)
You cannot successfully create a new role

[2021-06-21 03:53] lkwirica commented on #31
@ashaban ,On this issue- Contacts added in module do not show up in table for selecting recipient -issue #31.....I've tried to send a message to Vionora, her name doesn't appear on send messages list.

[2021-06-21 03:54] lkwirica commented on #31
Shouldn't be closed, still cannot send message to a contact added.

[2021-06-21 03:55] #58 closed

[2021-06-21 03:55] lkwirica commented on #58
Message scheduled for 20th June was sent out.

[2021-06-21 03:58] lkwirica commented on #21
@njugunask Feedback analysis by cadre/county is not available. What is available is an analysis for sent messages. Not received.

[2021-06-21 04:02] lkwirica opened #62 "Several schedules are generated for 1 message scheduled"
![image](https://user-images.githubusercontent.com/77771356/122705507-8f6d5d00-d25e-11eb-9a9a-3c55fb68bcee.png)

[2021-06-21 04:05] lkwirica commented on #26
@cloehr651 can we open this issue? We do not have an upload feature in mHero. Other issues tagged here were unrelated.

[2021-06-21 04:06] lkwirica commented on #26
This was not addressed

[2021-06-21 04:08] #33 closed

[2021-06-21 04:09] lkwirica commented on #33
A contact can be added on the platform but it is not yet possible to send the contact added a message.  Track the pending issues under #31

[2021-06-21 04:24] lkwirica opened #63 "Restrict cancelling of schedules of messages already sent"
![image](https://user-images.githubusercontent.com/77771356/122706879-8336cf00-d261-11eb-889d-8a57d31373d4.png)
![image](https://user-images.githubusercontent.com/77771356/122706890-8b8f0a00-d261-11eb-9c68-7479c768d848.png)

Related to issue #7

[2021-06-21 04:34] lkwirica opened #64 "Restrict sending of messages at a historical time"
![image](https://user-images.githubusercontent.com/77771356/122707614-060c5980-d263-11eb-8e39-54d090a5fa7e.png)
Control scheduling of messages with current time to avoid a schedule being created at 1900hrs for an earlier time within the day

[2021-06-21 04:38] lkwirica opened #65 "Over 500 blank records on the platform- Send Messages"
![image](https://user-images.githubusercontent.com/77771356/122707817-787d3980-d263-11eb-973d-894444c50993.png)
There are over 500 blank contacts on the platform. @ashaban I believe these are contacts pulled from the 'Add Person' feature, that are being displayed without names.

[2021-06-21 04:44] ashaban commented on #61
@njugunask this is fixed

[2021-06-21 04:48] ashaban commented on #31
@lkwirica can you give a name that you added and you can not send a message?

[2021-06-21 04:53] ashaban commented on #31
@lkwirica this is working!, can you give the full name of Vionora so that i can track her/him individually

[2021-06-21 04:54] ashaban commented on #65
@lkwirica this is already fixed and Stanley reported the same issue on #61

[2021-06-21 04:55] lkwirica commented on #31
Atwoli Vionora Kerubo

[2021-06-21 04:55] lkwirica commented on #31
![image](https://user-images.githubusercontent.com/77771356/122708982-05c18d80-d266-11eb-9d2c-54a8b406c64c.png)

[2021-06-21 04:58] lkwirica commented on #65
@ashaban check screenshot done a few minutes ago...
Contacts 1-500+ on the platform are still displaying blank names

[2021-06-21 04:58] lkwirica commented on #65
This bug is on send messages not search people

[2021-06-21 05:00] ashaban commented on #63
@lkwirica can you give more details about this issue?

[2021-06-21 05:04] lkwirica commented on #63
For integrity purposes, one can only cancel the record of a scheduled message BEFORE the message is sent out. Once the message has been sent, the record should not be deleted....This way, we can tell, all  historical message schedules in the system

[2021-06-21 05:09] ashaban commented on #63
@lkwirica This report only shows Active Schedules, Cancelling a schedule doesnt delete, it just deactivate. If you need a report of all scheduled messages we can then add a new report that list all scheduled messages (active and inactive), but not this one

[2021-06-21 07:03] ashaban commented on #65
@lkwirica  Sorry, i thought this was for the search people, this is resolved now. Please check.

[2021-06-21 07:07] ashaban commented on #31
Vionora was not added to send message page because her/his phone number's country code was missing a plus at the begining, i.e phone number started with 255 instead of +255. I have added a fix for this i.e to accept phone numbers with country code not starting with +. Vionora is now added to the send message page.

[2021-06-21 07:08] ashaban commented on #31
@lkwirica Vionora was not added to send message page because her/his phone number's country code was missing a plus at the begining, i.e phone number started with 255 instead of +255. I have added a fix for this i.e to accept phone numbers with country code not starting with +. Vionora is now added to the send message page.

[2021-06-21 07:23] njugunask commented on #31
@lkwirica country code should be +254, right? otherwise, the recipient will still not receive any message

[2021-06-21 07:51] #61 closed

[2021-06-21 09:41] ashaban commented on #31
@njugunask i meant +254 and not +255

[2021-06-21 10:15] #56 closed

[2021-06-21 12:13] cloehr651 commented on #21
@njugunask and @lkwirica , even if there is only one issue here, my initial comment on this issue when it was first created is that it's not clear what the issue is just by looking at the title and since there were so many issues included in the initial request it is hard to follow what has been done or not. **Please create another issue with a clear title and description of the outstanding issue.

[2021-06-21 12:17] cloehr651 commented on #26
@lkwirica I asked a question several months ago about whether this was the same as #31  but no one responded. If it is not a duplicate then we can reopen it but please clarify what the issue is since we did not seem to understand it when you initially created this issue.

[2021-06-21 12:25] cloehr651 commented on #63
@lkwirica if you would like a new report please create a new issue that details what you want that report to include

[2021-06-21 12:37] ashaban commented on #64
@lkwirica can you give me details on this please.

[2021-06-21 12:38] ashaban commented on #21
I agree with @cloehr651

[2021-06-21 12:42] njugunask commented on #21
@lkwirica, kindly revisit this issue and clarify

[2021-06-21 13:03] njugunask commented on #8
@lkwirica, kindly respond to above analysis

[2021-06-21 13:07] njugunask commented on #31
Massive data cleaning of contacts required. Otherwise, the issue should be closed once correction and verification that the recipient can receive messages

[2021-06-21 13:17] njugunask commented on #65
@lkwirica, this issue has been fixed.

[2021-06-23 02:02] lkwirica commented on #64
@ashaban as explained above, we need to avoid users creating a schedule for 1500hrs on a given day, if that time has already passed. You can only schedule a message to be sent out later than the current server time.

[2021-06-23 02:08] lkwirica opened #66 "Duplicate records being added using the 'Add Person' feature"
While iHRIS controls for duplicates using ID number, the Add Person feature allows users to create new records for existing users on the platform.
Can we control this with phone number i.e. before adding a person, the system checks for existing phone number on the platform.

Without controls, it seems one record can be added severally
![image](https://user-images.githubusercontent.com/77771356/123

[2021-06-23 02:09] #65 closed

[2021-06-23 02:12] lkwirica commented on #63
@ashaban 'Active Schedule' in this case means a schedule whose message has been sent out/ not sent?

The schedules displayed are of messages already sent out....Shouldn't it then display schedules Not yet sent out? As in yet to be activated?

[2021-06-23 03:06] lkwirica commented on #48
![image](https://user-images.githubusercontent.com/77771356/123024717-2dd5fb80-d3e2-11eb-961b-344e525b79aa.png)
The total number of current staff in iHRIS is  currently 70,000, out of which, only 24804 records have phone numbers.(including the erroneous ones)

The total number of contacts added on mHero using the ‘Add Person’ feature is about 500, some of which are duplicates.

Since we only displ

[2021-06-23 03:10] #31 closed

[2021-06-23 03:18] ashaban commented on #48
@lkwirica the Search People page displays all health workers including those without phone numbers/ wrong phone numbers and including any record that was added via rapidpro. the send message page is the one that displays only those with phone number.

[2021-06-23 03:19] lkwirica commented on #26
@cloehr651 this issue has to do with including an import feature on the platform to allow users to import a bulk of new contacts on the platform e.g. we have around 10,000 records for community volunteers for specific messages targeted to them to be sent out upon final approval. Adding the records one by one is tedious. This is similar to 'import contacts" on Rapidpro
![image](https://user-images.

[2021-06-23 03:26] ashaban commented on #63
Active Schedules is any schedule whose messages can still be sent out, remember that you can schedule a message to be sent out repeatedly i.e evey Monday and Tuesday, inactive schedule is the one that has either been cancelled or a schedule that can no longer be executed i.e you create a schedule to be executed twice in July, this schedule will be inactive in August.
So the report is displaying ac

[2021-06-23 03:26] lkwirica commented on #48
@ashaban this should be updated to display ONLY HCWs **on mhero** both created in the platform/pulled from iHRIS meaning this MUST be a record with a phone number indicated.
The reason, we created this issue is because 'Sending Message' total doesn't accurately display the total number of HCWs on the platform because of the duplicates caused by a HCW belonging to several groups.

[2021-06-23 03:28] ashaban commented on #48
@lkwirica you just want to see how many total records with phone numbers and not total unique records in mHero? that will need to be a separate report.

[2021-06-23 03:31] lkwirica commented on #63
![image](https://user-images.githubusercontent.com/77771356/123031133-798da280-d3ec-11eb-8f99-85803335b2a8.png)
@ashaban Since the message was only to be sent out once, and the date passed, this should not be displaying on the 'Scheduled Messages' page...

[2021-06-23 03:36] lkwirica commented on #48
We should only have records with phone numbers on mHero, right? Since we can only send a message to a record with phone number.

The request here, is to have a report on the unique records on the platform to help us answer the question...' How many unique contacts do we have on Mhero? or How many people can we send messages to on Mhero?'

[2021-06-23 03:37] ashaban commented on #63
@lkwirica  Yes, it should not, for now that feature is not supported, but you can still manually take them out by cancelling them. We will later add auto cancelling of schedules that has passed their time of execution, but this is not a priority for now since you can still manually cancel schedules.

[2021-06-23 03:39] ashaban commented on #48
@lkwirica i will create a new report that displays total records with phone numbers.

[2021-06-23 05:11] ashaban commented on #26
This is a CSV bulk upload feature

[2021-06-23 08:51] njugunask commented on #31
@lkwirica, move this closed issue to done folder

[2021-06-23 08:51] njugunask commented on #65
@lkwirica, move this closed issue to 'done' folder

[2021-06-23 11:33] lkwirica opened #67 "Add a report showing Messages sent by contact groups"
Include a report showing messages sent by contact groups. This is mostly due to the issue of being able to identify if a particular contact group e.g. CHVs received messages.

[2021-06-23 11:45] lkwirica opened #68 "On the Add Person feature- Enforce the county field...Include the option of OTHER"
Same as issue

[2021-06-23 11:46] lkwirica opened #69 "On the Add Person feature- Enforce the cadre field...Include the option of 'OTHER'"

[2021-06-23 11:46] lkwirica opened #70 "On the Add Person feature- Enforce the GENDER field..."

[2021-06-24 12:23] njugunask opened #71 "Searching for a record similar to it in a list in the 'search people' section"
When searching for a record in the 'search people' section where a number of records are similar to it, for example, a list of the same surnames totaling 203. If you continue the search to the next page, it takes one to the original numbers in the database, 120438. see attachment.
<img width="950" alt="Searching Records" src="https://user-images.githubusercontent.com/77440202/123262036-2147c500-d5

[2021-06-26 17:55] ashaban commented on #59
This is done @cloehr651

[2021-06-26 18:01] ashaban commented on #21
@lkwirica  I have added summary by gender as requested
The inbox report is available as well and it is filterable by gender, county, facility, cadre etc
Let me know if there is anything outstanding on this issue and if possible create a new issue so that we track them differently instead of combining multiple issues on just on issue thread.

[2021-06-27 16:10] ashaban commented on #62
@lkwirica this is not a bug, this is how mHero is currently programmed, if you schedule a message that contains recipients greater than 10,000 it splts the schedule into subschedules of 10,000 recipients each. e.g If you schedule a message to be sent to 50,000 recipients, you will see 5 different schedules created of 10,000 recipients each. We will later see how we can find a way to have parent an

[2021-06-28 08:12] ashaban commented on #48
@lkwirica i have created a new report called 'Contacts List' which shows records that messages can be sent to them, it is under mHero report. Please review

[2021-06-28 08:37] lkwirica commented on #48
Hi Ally,

I think we may still have duplicates...I've searched my name...There are 2 records coming up

![image](https://user-images.githubusercontent.com/77771356/123606094-37f26280-d805-11eb-95f6-d5067b3cc9d4.png)

[2021-06-28 08:44] ashaban commented on #48
@lkwirica those are two different records. they are dupplicate because they were entered twice. The difference between this report and the send message page is that, the send message page displays multiple times a single record that belongs to multiple groups, depending on how many groups it belongs. This report shows every record that exists into the database only once. If you want those two reco

[2021-06-28 08:56] ashaban commented on #48
@lkwirica in addition to above, mHero will not send a message twice to that record and other records with similar case, but it is still good to clean data and remove dupplicates.

[2021-06-28 09:18] lkwirica commented on #48
@ashaban the report expected should only pull unique records i.e. unique phone numbers on the platform. The unique key should be phone number...

This report on unique records should only pick unique phone numbers since, the phone number can get a message only once.

Alternatively, can we include a filter for unique phone numbers to this report. This will be a report to show how many total number

[2021-06-28 10:04] ashaban commented on #66
This is fixed, please review.

[2021-06-28 10:14] ashaban commented on #70
@lkwirica this is fixed, please review.

[2021-06-28 13:29] cloehr651 commented on #67
@lkwirica Is this not currently possible with using the contact group filter on the flow run breakdown and message sending breakdown reports?

[2021-06-28 13:47] cloehr651 commented on #22
@ashaban and @njugunask is this done now?

[2021-06-28 13:54] cloehr651 commented on #15
@njugunask is this addressed in the option to filter by send status in the flow run and message sending breakdown reports?

[2021-06-28 13:55] #16 closed

[2021-06-28 13:57] cloehr651 commented on #23
@ashaban @njugunask is this done now?

[2021-06-28 15:44] #59 closed

[2021-06-28 18:18] njugunask commented on #22
@cloehr651, this is still in progress, not all user requests have been implemented

[2021-06-28 20:34] njugunask commented on #15
@cloehr651, Yes. The 'failed' message report is available in the "Flow run breakdown" report. This issue can be closed. However, @IKwirica needs to ascertain and give a go-ahead to close the issue.

[2021-06-28 20:49] njugunask commented on #23
@ashaban and @lkwirica, need to agree on the roles and specific permissions for easy tracking. In the system, it seems there are 4 roles (**admin role, admin-location based, HR manager/Case team lead role, and Data clerk role**). Permissions for each user role are not clear, this needs to be agreed upon.

<img width="942" alt="User Roles" src="https://user-images.githubusercontent.com/77440202/123

[2021-06-29 04:47] ashaban commented on #69
@lkwirica this is done, please review

[2021-06-29 04:48] ashaban commented on #68
@lkwirica this is done, please review

[2021-06-29 05:36] ashaban commented on #71
@njugunask @cloehr651 this is a known issue, and it was done that way to make the permissions work. Changing it will results to a lot of other work as it affects the permissions module as well. This will be done later on.

[2021-06-29 09:16] njugunask commented on #70
This issue has been resolved. @lkwirica confirm and close

[2021-06-29 11:52] ashaban commented on #48
@lkwirica i have created a dashboard, the plan is to populate this dashboard with several visualizations, but for now it just shows total contacts that can be sent messages (which is what you need for now as far as this issue is concerned). Have a look and let me know your thought.
You can access this dashboard by going to mHero menu then mHero Dashboards.

[2021-06-29 11:53] njugunask commented on #66
This issue has been resolved, it can be closed. @lkwirica, please confirm and action.

[2021-06-29 14:00] njugunask commented on #68
The field for 'county'  enforced under the 'facility' option in the position section. @lkwirica confirm and close

[2021-06-29 14:04] njugunask commented on #69
The field for 'Cadre' is now enforced under the position section. @lkwirica confirm and close.

[2021-06-30 04:54] ashaban commented on #49
@cloehr651 this is fixed

[2021-06-30 04:58] ashaban commented on #8
@cloehr651 @lkwirica please review this issue and let me know if there is anything pending, otherwise lets close it.

[2021-06-30 08:31] lkwirica commented on #69
@ashaban I believe we've enforced 'Position Title' and not 'Cadre'...

Does this mean there's also a cadre called 'Other' to which the position title 'Other' has been mapped? Because the purpose for this fix, is the output on the report. We only have 15 or so cadres but several position titles in iHRIS.

Can we just have the field 'Cadre'?

[2021-06-30 08:34] ashaban commented on #69
I will explain to you on the call in 30 minutes, plan not to miss

[2021-06-30 09:39] ashaban opened #73 "Exclude Retired Health Workers From mHero"

[2021-06-30 11:52] cloehr651 commented on #8
Thanks Ally. I cannot check this without sending a message so @lkwirica will need to review.

[2021-06-30 11:55] cloehr651 commented on #49
Thanks @ashaban !

[2021-06-30 11:55] #49 closed

[2021-06-30 13:41] lkwirica opened #74 "The County Tab is missing"
@ashaban the County Tab is missing from the 'Send Messages'.

This is a very important tab, without which, we cannot send the vaccination messages.

[2021-06-30 14:26] lkwirica commented on #74
![image](https://user-images.githubusercontent.com/77771356/123978106-43da5200-d9c8-11eb-9463-e526d971d67c.png)

[2021-06-30 18:54] ashaban commented on #74
@lkwirica the county tab is now added
![sendmsg](https://user-images.githubusercontent.com/3152817/124015828-b4479a00-d9ed-11eb-82d0-6a0b0ac98001.png)

[2021-07-01 07:30] ashaban commented on #64
@lkwirica this is fixed, please review.

[2021-07-01 07:40] #74 closed

[2021-07-01 07:40] #70 closed

[2021-07-01 07:42] #66 closed

[2021-07-01 07:42] #69 closed

[2021-07-01 07:48] #68 closed

[2021-07-01 12:27] ashaban commented on #36
@lkwirica this is done. I have added a UI to block contacts from receiving messages, the UI is accessible under mHero/Block Contacts. I have also added a report to show all blocked practitioners.

[2021-07-01 15:30] cloehr651 opened #75 "Edit fields displayed in Practitioners Opted Out report"
Gender does not need to be displayed. It may be more useful to see facility name and possibly position/cadre.

[2021-07-07 09:01] #36 closed

[2021-07-07 09:04] lkwirica opened #77 "On the Practitioners Opted Out Of Receiving Messages Report- Include Timestamp"
Include date and time field on the above report

[2021-07-07 09:10] lkwirica commented on #67
![image](https://user-images.githubusercontent.com/77771356/124732717-22272080-df1c-11eb-9ce9-9619007d5eb7.png)
![image](https://user-images.githubusercontent.com/77771356/124732786-3834e100-df1c-11eb-8c56-405926074616.png)
@cloehr651 neither of these re[orts have the contact group as a filter

[2021-07-07 16:21] cloehr651 commented on #67
@lkwirica thanks for drawing my attention to that. Is a new report necessary or would it be sufficient to add contact group as a filter to those reports?

[2021-07-07 17:25] ashaban commented on #77
@lkwirica timestamp for what? time for when opted out?

[2021-07-08 07:46] lkwirica commented on #77
@ashaban Yes date and time blocked.

[2021-07-08 07:48] lkwirica commented on #67
A filter is enough

[2021-07-09 05:36] ashaban commented on #73
Retired health workers are now excluded from mHero. Retired health workers have active set to false, the search people has now a filter for active to filter active and inactive healthworkers.

[2021-07-15 12:38] cloehr651 opened #78 "Change "Block Contact" to "Contact Opt Out""
Make this change in the left side menu

[2021-07-15 12:41] cloehr651 opened #79 "Move "Block Contact" down in the left hand menu"
In addition to changing the name ([Issue 78](https://github.com/intrahealth/emNutt/issues/78)), move this item down in the left hand menu to be below "Contact Groups".

[2021-07-15 12:43] cloehr651 opened #80 "Eliminate periods on Search User Profile page"
There should not be a period after "Search User Profile" nor after "Add user profile" (on the button)

[2021-07-15 12:45] cloehr651 opened #81 "Add search function to Search User Profile page"
There is not currently a way to conduct a search despite the page being called "Search Users"

[2021-07-15 12:46] cloehr651 opened #82 "On Search User page, change "Add User Profile" button to "Add system user""
This just clarifies what kind of user this button will allow a user to add

[2021-07-15 12:48] cloehr651 opened #83 "Delete "View User" button from the view user profile page"
The button doesn't do anything and the user is already viewing the user profile when they are on the page where that button appears

[2021-07-15 12:50] cloehr651 opened #84 "Eliminate option to have multiple roles and locations for system users"
It does not make sense that a system user could have multiple system roles and multiple locations so we should not have the option to add multiple roles/locations

[2021-07-15 12:53] cloehr651 opened #85 "Add descriptions of permissions associated with different roles"
There needs to be a place where we describe the permissions associated with the different roles. I could see this either popping up when a role is selected for a user (just a sentence or two about what the selected role will permit the user to do) or on a separate page there could be a list of all of the roles and the corresponding permissions.

[2021-07-16 09:19] nobertmn commented on #81
@ashaban if the latest user page definition is loaded is loaded correctly. There should be a search option for user cc: @cloehr651

[2021-07-16 09:20] nobertmn commented on #83
@ashaban @cloehr651 I have updated the user page in iHRIS to remove this

[2021-07-16 09:21] nobertmn commented on #80
@cloehr651 removed in iHRIS.

[2021-07-16 09:24] nobertmn commented on #82
@cloehr651 done in iHRIS

[2021-07-16 15:07] cloehr651 commented on #81
Thanks @nobertmn for working on these issues in iHRIS!

[2022-09-27 09:09] kwirica opened #98 "mHero"

[2022-09-27 09:14] #98 closed